import { ConverterDesigner } from 'cmf-core-connect-iot';

@ConverterDesigner({
    name: $localize`:@@<%= dasherize(project) %>/<%= dasherize(name) %>#TITLE:<%= nameify(name) %>`,
    input: <%= converterInputType %>,
    output: <%= converterOutputType %>,
    parameters: {
        // Add parameters here
        // example: parameterId: System.PropertyValueType.String,
    }
})
export class <%= classify(name) %>Designer { }