import { ConverterDesigner } from 'cmf-core-connect-iot';

@ConverterDesigner({
    name: $localize`:@@<%= dasherize(project) %>/<%= dasherize(name) %>#TITLE:<%= nameify(name) %>`,
    input: <%= inputAsIoT %>,
    output: <%= outputAsIoT %>,
    parameters: {
<%- parametersAsJS %>
    }
})
export class <%= classify(name) %>ConverterDesigner { }