import { Converter } from '@criticalmanufacturing/connect-iot-controller-engine';
import { ConverterDesigner } from 'cmf-core-connect-iot';

@ConverterDesigner({
    name: $localize`:@@<%= dasherize(project) %>/<%= dasherize(name) %>#TITLE:<%= nameify(name) %>`,
    input: <%= converterInputType %>,
    output: <%= converterOutputType %>,
    parameters: {
    }
})
export class <%= classify(name) %>ConverterDesigner { }