<cmf-core-controls-execution-view [cmf-core-business-controls-transaction-execution-view]="instance"
  i18n-mainTitle="@@<%= dasherize(project) %>/wizard-<%= dasherize(name) %>#TITLE" mainTitle="<%= nameify(name) %>"
  i18n-action-name="<%= dasherize(project) %>/wizard-<%= dasherize(name) %>#ACTION" action-name="Finish">

    <!-- Executuon View steps -->
    <cmf-core-controls-execution-view-tab i18n-mainTitle="@@<%= dasherize(project) %>/wizard-<%= dasherize(name) %>#DETAILS" mainTitle="Details">
      <p><%= nameify(name) %> Wizard works!</p>
    </cmf-core-controls-execution-view-tab>
</cmf-core-controls-execution-view>