name: PR Tests

on:
  pull_request:

jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Build packages
        run: npm run build

      - name: Lint packages
        run: npm run lint

      - name: Run schematics tests
        run: npm run test
